<mat-accordion multi displayMode="flat">
  <mat-expansion-panel expanded class="mb-2">
    <mat-expansion-panel-header class="mat-elevation-z2">
      <mat-panel-title>
        Consumables
      </mat-panel-title>
      <mat-panel-description>
        Foods & Beverages
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="pt-2">
      <app-product-viewer
        (selectedProductsChanged)="updateCateringTotals($event)"
        [productType]="cateringProductType">
      </app-product-viewer>
    </div>

  </mat-expansion-panel>
  <mat-expansion-panel expanded class="mb-2">
    <mat-expansion-panel-header class="mat-elevation-z2">
      <mat-panel-title>
        Donations
      </mat-panel-title>
      <mat-panel-description>
        Toys & Cloths
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="pt-2">
      <app-product-viewer
        (selectedProductsChanged)="updateDonationTotals($event)"
        [productType]="donatiblesProductType">
      </app-product-viewer>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle expanded disabled class="mb-2">
    <div class="d-md-flex justify-content-md-end">

      <div class="d-flex flex-column pt-2">

        <ng-container *ngTemplateOutlet="subTotal; context: {items: caterings, title: 'Consumables'}"></ng-container>
        <ng-container *ngTemplateOutlet="subTotal; context: {items: donatibles, title: 'Donations'}"></ng-container>

        <div class="mat-h1 text-right">Total: {{getTotal() | currency}}</div>
        <div class="d-flex flex-column flex-sm-row justify-content-sm-end">
          <button mat-flat-button color="primary" class="mr-sm-3 mb-3 mb-sm-0" (click)="emptyBasket()">
            <mat-icon>remove_shopping_cart</mat-icon>
            Clear shopping cart
          </button>
          <button mat-flat-button color="primary" (click)="checkout()">
            <mat-icon>payment</mat-icon>
            Checkout
          </button>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<ng-template #subTotal let-items="items" let-title="title">

  <div *ngIf="items.length > 0" class="d-flex flex-column my-3">
    <div class="mat-body-strong border-bottom">
      {{title}}
    </div>
    <div *ngFor="let item of items; let i = index" class="mt-2">
      <div class="d-block text-truncate">{{item.name}}</div>
      <div class="d-flex flex-row justify-content-between ml-3">
        <div>
          <span>{{item.quantity}}</span> &times; <span>{{item.price | currency}}</span>
        </div>
        <span>{{item.amount | currency}}</span>
      </div>
    </div>
  </div>

</ng-template>
